@import "variables";

.container {
	padding: 5%;
}

.grid {
	> div {
		box-sizing: border-box;
		float: left;
		text-align: justify;

		border: solid 1px $dark-color;
		background-color: $secondary-color;
	}

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
