@import "variables";

html,
body {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	background-color: $primary-color;
	padding: 10px;

	h1 {
		margin: 0;
		padding: 0 12px;
	}
}

.container {
	max-width: 1366px;
	margin: 0 auto;
	padding: 5%;
}
