html, body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #f33333;
  padding: 10px;
}
header h1 {
  margin: 0;
  padding: 0 12px;
}
header div {
  text-align: center;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.foo {
  position: absolute;
  top: 0;
}

.grid > div[class*=col-] {
  padding: 5%;
  float: left;
  min-height: 1px;
}
.grid > .col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .grid > .col-md-1 {
    width: 8.3333333333%;
  }
  .grid > .col-md-2 {
    width: 16.6666666667%;
  }
  .grid > .col-md-3 {
    width: 25%;
  }
  .grid > .col-md-4 {
    width: 33.3333333333%;
  }
  .grid > .col-md-6 {
    width: 50%;
  }
  .grid > .col-md-8 {
    width: 66.6666666667%;
  }
  .grid > .col-md-9 {
    width: 75%;
  }
  .grid > .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .grid > .col-lg-1 {
    width: 8.3333333333%;
  }
  .grid > .col-lg-2 {
    width: 16.6666666667%;
  }
  .grid > .col-lg-3 {
    width: 25%;
  }
  .grid > .col-lg-4 {
    width: 33.3333333333%;
  }
  .grid > .col-lg-6 {
    width: 50%;
  }
  .grid > .col-lg-8 {
    width: 66.6666666667%;
  }
  .grid > .col-lg-9 {
    width: 75%;
  }
  .grid > .col-lg-12 {
    width: 100%;
  }
}
a {
  color: #f33333;
}

h1 {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.button, .button-secondary, .button-primary {
  padding: 6px 12px;
  border: solid #333 1px;
  border-radius: 4px;
}

.button-primary {
  background-color: #f33333;
  color: white;
}

.button-secondary {
  background-color: #0099ff;
  color: white;
}